@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');

*, *::before, *::after {
	/* makes padding easier to deal with  */
  box-sizing: border-box;
	transition: all ease-in-out 450ms;
}

body {
	margin: 0;
	/* background: #222; */
  font-family: 'Source Sans Pro', sans-serif;
	text-align: center;
	font-weight: 400;
}

.quote {
	margin: 1.5em .5em 2.5em 0em;
  font-style: italic;
	font-weight: 400;
}

.content {
  height: 200vh;
  /* background-image: url(//unsplash.it/1000/1000); */
  /* background-color: #FFFF; */
  background-blend-mode: multiply;
  background-size: cover;
  display: grid;
  place-items: center;
}


img {
	max-width: 100%;
	height: auto;
}

  .image {
  display: block;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
  width: 20rem;
}

.image-with-caption {
  display: block;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  width: 30rem;
}

.image-blog-teaser {
  display: block;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  width: 25rem;
}

/* video */
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 0;
 }
 .embed-container iframe, .embed-container object, .embed-container embed {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   display: block;
   /* margin-top: 3rem; */
   margin-left: auto;
   margin-right: auto;
   /* margin-bottom: 3rem; */
   border: 0;
 }


.profile-pic {
  width: 10rem;
}

.sig {
  /* padding-right: 10px; */
  text-align: right;
  /* font-size: 13px; */
  font-style: italic;
  /* color: pink; */
}


.caption {
  /* padding-right: 10px; */
  text-align: right;
  /* font-size: 13px; */
  font-style: italic;
}

.container {
	width: 95%;
	max-width: 90em;
	margin: 0 auto;
}

.clearfix::after,
section::after,
footer::after {
	content: '';
	display: block;
	clear: both;
}


/* Column system
=================== */

[class^=col-] {
	width: 100%;
	margin-top: 1em;
}

[class^=col-]:first-child {
	margin-top: 0;
}

.col-1 {
	width: 33.333334%;
	float: left;
}


@media (min-width: 40rem) {

	[class^=col-] {
		float: left;
		padding: 0 .5em;
		/* margin-top: 0; */
	}

	[class^=col-]:first-child {
		padding-left: 0;
	}

	[class^=col-]:last-child {
		padding-right: 0;
	}

	.col-3 {
		width: 50%;
	}

	.col-1 {
		/* width: 16.6666%; */
	}
}


/* typography
=================== */

h1 {
	/* font-weight: 200; */
	/* margin-top: .35rem; */
  font-size: 1.8rem;
  text-align: center;

}

h1.blog-h1 {
  font-size: 1.8rem;
  font-size: 1.5rem;
  letter-spacing: 0.1em;
  font-weight: lighter;
  color: black;
  text-transform: uppercase;

}

h2 {
  font-size: 1.2rem;
  font-weight: 400;
  background-color: white;
  color: salmon;
}

h3 {
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  background-color: white;
  color: salmon;
}

h4 {
	font-weight: lighter;
	/* font-size: 1.25rem; */
  background-color: white;
  text-align: center;
  display: block;
  border-left: 1px double #333;
  border-right: 1px double #333;
  padding: 2rem;
  text-align: center;

  /* outline: 5px dotted green; */
  /* color: salmon; */
}


h5 {
  font-size: 1.4rem;
  font-weight: 400;
  background-color: white;
  color: salmon;
}

/* line under h1 */

hr {
    border: none;
    border-top: 1px double #333;
    text-align: center;
    width: 3rem;
    padding-bottom: 1rem;

}


/* hr:after {
    background: #fff;
    content: '§';
    padding: 0 4px;
    position: relative;
    top: -13px;
} */

/* line around h4 */



/* links */
a {
  color: purple;
  text-decoration: none;
}

a:hover {
  color: salmon;
  /* background-color: white; */
}

p {
	margin-top: 0;
	line-height: 1.5;
  margin-left: 0em;
}


p:last-of-type {
	margin-bottom: 0;
}

.title-cta {
	margin: 0 0 .5em;
}

.unstyled-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

@media (min-width:60rem) {

	p {
		font-size: 1.1rem;
		/* line-height: 1.6; */
	}

  ol {

  }

  ul {

  }

	.title {
		font-size: 3.7rem;
	}
}

/* buttons */

.button {
	display: inline-block;
	/* font-size: 1.11rem; */
	text-decoration: none;
	text-transform: uppercase;
	border-style: solid;
	padding: .6em 4em;
  border-width: 1px;
}

.button-port {
  background: rgba(14, 8, 45, .70);
  color: salmon;
}

.button-cta {
  background-color: white;
  color: salmon;
}

@media (min-width: 60rem) {
	.button {
		/* font-size: 1.2rem; */
	}
}

.button:hover,
.button:focus {
	/* background: #232323; */
  background: rgba(14, 8, 45, .80);
}

.date {
  text-align: center;
  font-size: .85em;
  color: black;
  font-weight: lighter;
  display: block;
}

/* header
=================== */

header {
	margin: 0em;
  background-color: rgba(245, 243, 251, .90);
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
}

.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.nav-toggle:focus ~ .nav-toggle-label {
  outline: 3px solid rgba(0, 0, 50, .7);
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: salmon;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  /* position: absolute; */
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  /* background: var(--background); */
  background-color: rgba(245, 243, 251, .95);

  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1.2em;
  margin-left: 1.2em;
}

nav a {
  /* color: #FFF; */
  color: rgba(102, 97, 127, .95);

  text-decoration: none;
  font-size: 1rem;
  /* text-transform: uppercase; */
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: #000;
}

.nav-toggle:checked ~ nav {
  transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

.wiggle-logo {
  /* width: 5rem; */
  margin-top: 2rem;
}

@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }

  .wiggle-logo {
    grid-column: 2 / 3;
    width: 30rem;
    /* margin: 10rem; */
  }

  .circle-logo {
    grid-column: 2 / 3;
    width: 3rem;
  }

  nav {
    /* add Edge support */
    position: relative;
    text-align: left;
    transition: none;
    transform: scale(1,1);
    background: none;
    top: initial;
    left: initial;
    /* end Edge support */

    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav ul {
    display: flex;
  }

  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }

  nav a {
    opacity: 1;
    position: relative;
  }

  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: #2a2835bf;
    position: absolute;
    top: -.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }

  nav a:hover::before {
    transform: scale(1,1);
  }
}


/* head-home
=================== */

.home-head {
	/* background-image: url(img/head-bg.jpg); */
	/* background-size: cover; */
	/* background-position: center; */
	/* padding: 1em 0; */
	/* color: white; */
}

@media (min-width: 60rem) {
	.home-head {
		/* height: 150vh; */
		padding-top: 12vh;
    padding-bottom: 9vh;

	}
}

.home-about-textbox-outline {
  outline: 1px solid salmon;
  outline-offset: -2.5em;
}

.home-about-textbox {
  text-align: left;
	background-color: white;
	padding: 4em;
	color: #232323;
	position: relative;
}

.home-about-textbox-timeline {
  /* text-align: left; */
	/* background-color: white; */
	padding-top: 4em;
	color: #232323;
	position: relative;
}

.home-about-textbox h1.outline {
	color: purple;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 3em;
	background: #FFF;
	/* padding: 0.25em; */
}


.home-about-textbox h1.outline {
  top: -.2em;
  padding: 0 .425em;
}

/* general text padding */

@media (min-width: 37rem) {
  .home-about-textbox {
    padding: 4.5em 9.5em 4.5em 9.5em;
  }
}

@media (min-width: 60rem) {
  .home-about-textbox p {
    padding: .25em 14.5em .25em 14.5em;
  }
}


@media (min-width: 60rem) {
  .home-about-textbox ol {
    padding: .25em 17em .25em 17em;
  }
}


@media (min-width: 60rem) {
  .home-about-textbox ul {
    padding: .25em 17em .25em 17em;
  }
}

/* h1 h2 desktop */


@media (min-width: 60rem) {
  .home-about-textbox h1.blog-h1 {
    display: block;
    margin-top: 3rem;
    margin-bottom: 1.4rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

@media (min-width: 60rem) {
  .home-about-textbox h2 {
    font-size: 2rem;
    padding-left: 15.85rem;
    padding-top: 4rem;

  }
}

@media (min-width: 60rem) {
  .home-about-textbox h3 {
    font-size: 1.6rem;
    padding-left: 15.85rem;
    padding-right: 15.85rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}

@media (min-width: 60rem) {
  .home-about-textbox h4 {
    padding-left: 15.85rem;
    padding-right: 15.85rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}




/* blog
=================== */

.blog-div {
  color: blue;
}

.blog-post {
  text-align: left;
  padding: 6em .5em 6em .5em;
}

@media (min-width: 37rem) {
  .blog-post {
    padding: 16em 15em 16em 15em;
  }
}

@media (min-width: 60rem) {
  .blog-post {
    padding: 10em 40em 40em 15em;
  }
}

/* portfolio
=================== */

.portfolio {
	margin: 0em;
}

.port-item {
	margin: 0em;
	position: relative;
}

.port-item img {
	display: block;
	width: 100vw;
}

.port-desc {
	position: absolute;
	z-index: 100;
	bottom: .8em;
	left: 0em;
	right: 0em;
	/* color: #FFF; */
	/* background: rgba(102, 97, 127, .80); */
	padding-bottom: 0em;
}

.port-desc p {
	margin: 0em;
}

@media (min-width: 37rem) {
	.port-item {
		width: 50%;
		float: left;
	}
}

@media (min-width: 60rem) {
	.port-item {
		width: 33.3333334%;
		overflow: hidden;
	}

	.port-desc {
		transform: translateY(150%);
	}

	.port-item:hover .port-desc {
		transform: translateY(0%);
	}
}

body {
  margin: 0;
  padding: 0;
}

/* CTA
=================== */

/* call to action */
.cta {
	background-color: #FFF;
	padding: 5em 0;
}

/* Contact
=================== */

.contact {
  text-align: center;
  object-position: center;
  margin-top: .5rem; /* Add a top margin */
  margin-bottom: 1rem; /* Bottom margin */
}

/* Footer
=================== */

footer {
  padding: 1em;
  background-color: rgba(86, 86, 86, .15);
  /* color:salmon; */
  text-align: center;
  /* position: fixed; */
  z-index: 999;
  width: 100%;
}

.feather {
  width: 24px;
  height: 24px;
  margin-left: .75em;
  margin-right: .75em;
  margin-top: .75em;
  margin-bottom: .75em;
  opacity: 0.3;

}

.feather:hover {
  opacity: 0.7;
}





/* Timeline */
.timeline {
  border-left: .3rem solid salmon;

  /* border-bottom-right-radius: 2px; */
  /* border-top-right-radius: 2px; */
  margin: 4rem auto;
  position: relative;
  padding-left: 3.1rem;
  padding-right: 3.1rem;
  padding-top: 0rem;


  list-style: none;
  text-align: left;
  max-width: 70%;
}
.timeline .event {
  /* border-bottom: 1px dashed rgba(0, 128, 128, 0.1); */
  padding-bottom: 25px;
  margin-bottom: 50px;
  position: relative;
}
.timeline .event:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}
.timeline .event:before,
.timeline .event:after {
  position: absolute;
  display: block;
  top: 0;
}
.timeline .event:before {
  left: -12.4rem;
  color: rgba(128, 128, 128, 0.2);
  content: attr(data-date);
  text-align: right;
  font-weight: 100;
  font-size: 1.4rem;
  min-width: 7.7rem;
  top: -.05rem;
}
.timeline .event:after {
  box-shadow: 0 0 0 4px salmon;
  left: -3.6rem;
  background: white;
  border-radius: 50%;
  height: .8rem;
  width: .8rem;
  content: "";
  top: .5rem;
}
