html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');

.preload * {
  transition: none !important;
}

/* Column system
=================== */
/* [class^=col-] {
  width: 100%;
  margin-top: 1em;
}
[class^=col-]:first-child {
  margin-top: 0;
}
.col-1 {
  width: 33.333334%;
  float: left;
}
@media (min-width: 40rem) {
  [class^=col-] {
    float: left;
    padding: 0.5em;
  }
  [class^=col-]:first-child {
    padding-left: 0;
  }
  [class^=col-]:last-child {
    padding-right: 0;
  }
  .col-3 {
    width: 50%;
  }
  .col-1 {
  }
} */

/* text
=================== */
/* links */
a {
  color: #2f08ff;
  text-decoration: none;
  background-color: inherit;
}

a:hover {
  color: salmon;
  background-color: inherit;
}

p {
  margin: 0 0 1rem 0;
  font-size: 1.15rem;
  line-height: 1.5;
}

span.blue {
  color: rgb(47, 8, 255);
  background-color: inherit;
}

p:last-of-type {
  margin-bottom: 0;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  font-weight: 300;
  font-size: 1.15rem;
}

main{
  display: block;
  text-align: left;  
}

container{
  display: block;
  text-align: left;  
}

.quote {
  margin: 1.5em .5em 2.5em 0em;
  font-style: italic;
  font-weight: 400;
}

.italic {
  font-style: italic;
}

.blueBackground{
  background-color: rgba(121, 187, 255, 0.32);
}

.center {
  text-align: center;
}

.sig {
  /* padding-right: 10px; */
  text-align: right;
  /* font-size: 13px; */
  font-style: italic;
  /* color: pink; */
}

.caption {
  /* padding-right: 10px; */
  text-align: right;
  /* font-size: 13px; */
  font-style: italic;
}

.img-caption {
  text-align: center;
  font-style: italic;
  margin-top: -2.5rem;
}

h1 {
  text-align: center;
  /* text-transform: uppercase; */
  background-color: inherit;
  color: rgba(71, 20, 86, 0.81);
  font-size: 1.5rem;
  letter-spacing: 0.08em;
  font-weight: 200;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

span.subtitle {
  font-size: 1.7rem;
  letter-spacing: 0.1em;
  background-color: inherit;
  color: rgba(100, 0, 130, 0.71);
  margin-top: 1rem;
  margin-bottom: 0rem;
  text-transform: initial;
}

h2 {
  background-color: inherit;
  color: salmon;
  font-size: 1.8rem;
  font-weight: 400;
  margin: 1em 0em .75em 0em;

}

h2.blog-teaser {
  font-size: 1.2rem;
  font-weight: 400;
}

h2.blog-tools {
  font-size: 1.5rem;
  /* padding: 0rem 6.3em .2em 6.3em; */
  margin-bottom: 0;
  margin-top: .2rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: 400;
  background-color: inherit;
  color: #482886;
}

h4 {
  font-size: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: inherit;
  color: salmon;
}

span.bulletHeader {
  font-size: 1.7rem;
  letter-spacing: 0.1em;
  background-color: inherit;
  color: rgba(100, 0, 130, 0.71);
  margin-top: 1rem;
  margin-bottom: 0rem;
  text-transform: initial;
}

.blog-lessons {
  font-weight: lighter;
  /* font-size: 1.25rem; */
  text-align: center;
  display: block;
  border-left: 1px double #333;
  border-right: 1px double #333;
  padding: 2rem;
  /* outline: 5px dotted green; */
  /* color: salmon; */
}

h5 {
  font-size: 1.4rem;
  font-weight: 400;
  background-color: inherit;
  color: salmon;
}

.title-cta {
  margin: 0 0 .5em;
}

/* lists */
ul {
  /* padding-top: 0.15em; */
}

li {
  text-align: left;
  margin-right: 1.5em;
  margin-left: .7em;
  line-height: 1.5;
  margin-bottom: .5em;
  list-style-type: disc;
}

#li-noDisc {
  text-align: left;
  margin-right: 1.5em;
  margin-left: .7em;
  line-height: 1.5;
  margin-bottom: .5em;
  list-style-type: none;
}

.toc{
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */

}

.unstyled-list {
  margin: 0;
  padding-left: 1.5rem;
  list-style-type: none;
}

.noBullet-list {
  margin: 0;
  padding: 0;
  list-style: none;
}


/* line under h1 */
hr {
  border: none;
  border-top: 1px double #333;
  text-align: center;
  width: 3rem;
  padding-bottom: 1rem;
}

hr.blog-preview-divider {
  border: none;
  border-top: 1px dotted;
  text-align: center;
  width: 14rem;
  padding-bottom: 1rem;
  background-color: inherit;
  color: purple;
}

.blog-teaser-fill {
  /* border-bottom: .3rem solid rgba(250, 128, 114, 0.1); */
  padding: 1rem;
  margin-bottom: 2rem;
  box-shadow: 0px 0em 0.75em 0.25px rgb(219, 219, 220);
}

@media (min-width:60rem) {
  p {
    /* font-size: 1.1rem; */
  }

  .title {
    font-size: 3.7rem;
  }

  hr.blog-preview-divider {
    /* findme */
    /* width: 21.5rem; */
  }
}

/* btns */
.button {
  display: inline-block;
  font-size: 1.11rem;
  text-decoration: none;
  text-transform: uppercase;
  padding: .6em 4em;
}

.button-port {
  background: rgba(14, 8, 45, .7);
  color: salmon;
  width: inherit;
  width: 100%;
  padding: 0.75rem 0;
  margin: 0;
  display: inline-block;
  text-decoration: none;
  text-transform: none;

}

.button-port-header {
  /* font-size: 2rem; */
  font-weight: bold;
  margin-bottom: 4rem;
}

.button-port-text {


}

.button-invisible {
  width: 10%;
  height: 10%;
  /* background-color: red; */
  /* position: absolute; */
  /* z-index: 100; */
}

.button-cta {
  /* background-color: inherit; */
  text-align: center;
  color: salmon;
  border-style: solid;
  border-width: 1px;
  margin: 2.5em 0em 2.5em 0em;
}

.button:hover,
.button:focus {
  /* background: #232323; */
  background: salmon;
  color: white;
  /* font-weight: bold; */
  border-color: rgba(50, 128, 114, 0.3);
}

@media (min-width: 60rem) {

  .button {}

  .button-port {
    font-size: 1rem;
    display: inline-block;
    text-decoration: none;
    text-transform: none;
    /* border-style: none; */
    /* findme */
    width: 100%;
    height: 100%;
    /* padding: .6em 3em; */
    font-weight: 100;
    letter-spacing: 0.07em;
    /* background: rgba(14, 8, 45, .9); */
  }
  .button-port-header {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 6rem;

  }

  .button-invisible {
    /* findme */
    /* width: 100%; */
    /* height: 100%; */
  }

  /* table  */
  th, td {
    padding: 15px;
    /* border: 1px solid #fa8071; */
  }

  th {
    text-align: left;
  }

  table {
    width: 100%;
   border-collapse: collapse;
    border-spacing: 1px;
    border: 1px solid #fa8071;
  }

}

.date {
  text-align: center;
  font-size: .85em;
  background-color: inherit;
  color: black;
  font-weight: lighter;
  display: block;
}

.highlightme {
  color: inherit;
  background-color: rgba(249, 195, 179, 0.32);
  /* salmon */
}

.strong {
  font-weight: 400;
  color:#9710fd;
}

.slightBold {
  font-weight: 500;
}

/* header
=================== */
header {
  box-sizing: border-box;
  background-color: rgba(245, 243, 251, .98);
  position: absolute;
  z-index: 999;
  width: 100vw;
}

.circle-logo {
  padding: 8px 1rem 0 1rem;
  grid-column: 0 / 3;
  /* width: 3rem; */
  display: none;
}

.nav-toggle {
  display: inline-block;
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
  padding: .5rem;
}

.nav-toggle:focus, .nav-toggle-label {
  background-color: inherit;
  color: salmon;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: .45em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background-color: salmon;
  color: inherit;
  height: 3px;
  width: 50px;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 13px;
}

.nav-toggle-label span::after {
  top: 13px;
}

:root {
  --background-color: rgba(245, 243, 251, .9);
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  /* margin-top: 1.5rem; */
  left: 0;
  background: var(--background);
  background-color: rgba(245, 243, 251, .9);
  color: inherit;
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  padding: 0;
  list-style: none;
}

nav li {
  margin: 2em 1em;
  list-style-type: none;

}

nav a {
  /* color: #FFF; */
  color: rgba(35, 29, 66, .95);
  background-color: inherit;
  text-decoration: none;
  font-size: 1.2rem;
  /* text-transform: uppercase; */
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  background-color: inherit;
  color: #000;
}

.nav-toggle:checked~nav {
  transform: scale(1, 1);
}

.nav-toggle:checked~nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

#home-container{
  /* position: relative; */
  overflow: hidden;
  /* display: flex; */
}

#welcome-text {
  /* height: 100vh; */
}

#shape-logo {
  width: 290vw;
  margin-top: -10vh; 
  margin-left: -80vw;
  overflow: hidden;
}

.welcome-text{
    box-sizing: border-box;
    color: #fff;
    margin: 0;
    border-bottom: 5px solid rgb(255, 217, 0);
    border-left: 5px solid rgb(255, 196, 0);
    padding-left: 2px;
    padding-right: 2px;

}

/* spaces */
#welcome-text-1{
  position: fixed;
    background-color: rgba(113, 70, 184, 0.5); 
    top: 60vh;
    transform: rotate(-8deg);
    left: 12vw;
    max-width: 80vw;
    color: #fff;
    letter-spacing: .02rem;
    cursor:pointer;
    -webkit-transition: all 2s ease-in-out;

}

#welcome-text-1:hover {
  letter-spacing: .5rem;
  -webkit-transition: all 3s ease-in-out;

}

#welcome-text-1:active {
  letter-spacing: 1rem;
}

/* connection */
#welcome-text-2{
  position: absolute;
  background-color: rgba(232, 80, 34, 0.5);
  transform: scale(1);
  top: 29vh;
  left: 15vw;
  color: #fff;
  transform: opacity(1);
  /* transform: translate(-30px, -10px); */
  transition: transform 2s ease-in-out;
  cursor:pointer;
}

#welcome-text-2:hover {
  transform: scale(.1);
  transition: all 1s ease-in-out;
  cursor:pointer;
}

/* play */
#welcome-text-3{ 
  position: absolute;
  background-color: rgba(222, 85, 0, 0.844);
  transform: rotate(-50deg);
  top: 35vh;
  left: 60vw;
  color: #fff;
  cursor:pointer;

  transition: transform 2s ease-in-out;
}

#welcome-text-3:hover {
  transform: rotate(360deg);
}

#welcome-text-3:active {
  /* transform:scale(6); */
    /* border-radius: 50%; */
}

#welcome-name{
  display:block;
  border: none;
  text-align: center;
  font-size: 1.2rem;
  margin: 1rem 0 1rem 40px;
  background: -webkit-linear-gradient(magenta, purple);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor:pointer;
}

#welcome-name:hover {
  text-decoration: none;
}

@media screen and (min-width: 900px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    /* box-sizing: border-box; */
    width: 100vw;
    display: grid;
    grid-template-columns: max-content max-content auto;
    padding: 0;
    margin: 0;
    /* grid-template-columns: auto max-content minmax(600px, 3fr) 1fr; */
    /* border-bottom: .05em solid rgba(250, 128, 114, 0.3); */
    /* margin-bottom: 2rem; */
  }

  #home-container{
    /* position: relative; */
    position: relative;
    overflow: hidden;
  }
  
  #shape-logo, #welcome-text {
    height: 100vh;
    width: auto;
    overflow:hidden;
    margin:0;
    padding:0;
  }
  
  .welcome-text{
      box-sizing: border-box;
      color: #fff;
      margin: 0;
      border-bottom: 5px solid rgb(255, 217, 0);
      border-left: 5px solid rgb(255, 196, 0);
      padding-left: 2px;
      padding-right: 2px;
  
  }
  
  #welcome-text-1{
    position: absolute;
      background-color: rgba(113, 70, 184, 0.5); 
      /* top: 40vh; */
      transform: rotate(-8deg);
      left: 25vw;
      color: #fff;
      /* margin: 0; */
  }
  
  /* \o/ */
  #welcome-text-2{
    position: absolute;
    background-color: rgba(232, 80, 34, 0.5);
    transform: scale(1);
    top: 29vh;
    left: 25vw;
    color: #fff;
    transform: opacity(1);
    /* transform: translate(-30px, -10px); */
    transition: transform 2s ease-in-out;
    cursor:pointer;
  }
  
  #welcome-text-2:hover {
    transform: scale(.1);
    transition: all 1s ease-in-out;
    cursor:pointer;
  }
  
  /* #welcome-text-2b{
    position:absolute;
    background-color: rgba(156, 232, 34, 0.5);
    top: 37vh;
    left: 20vw;
    color: #fff;
    transform: translate(0, 0);
    transition: all 2s ease-in-out;
    transform: rotate(190deg);
    cursor:pointer;
    outline: 10rem;
  }
  
  #welcome-text-2b:hover {
    top: 29vh;
    left: 23vw;
    color: white;
    transform: translate(0px, 0px);
    transition: all 3s ease-in-out;
    cursor:pointer;
  } */

  /* play */
  #welcome-text-3{
    position: absolute;
    background-color: rgba(255, 157, 115, 0.844);
    transform: rotate(-50deg);
    /* top: 40vh; */
    left: 70vw;
    color: #fff;
    transition: transform 2s ease-in-out;
  }
  
  #welcome-text-3:hover {
    transform: rotate(360deg);
  }
  
  #welcome-text-3:active {
    transform:scale(5);
      /* border-radius: 50%; */
  }

  #welcome-name{
    margin: 1rem 0 1rem 0;
    padding: 0;
    background: -webkit-linear-gradient(magenta, purple);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor:pointer;
  }

  #shape-logo:hover,
  .button:focus {
    /* background: #232323; */
    filter: hue-rotate(20deg);
  }

  .circle-logo {
    grid-column: 2 / 3;
    width: 3rem;
    display:block;

  }

  .circle-logo:hover,
  .button:focus {
    /* background: #232323; */
    filter: hue-rotate(280deg);
  }

  nav {
    box-sizing: border-box;

    /* add Edge support */
    position: relative;
    text-align: left;
    transition: none;
    transform: scale(1, 1);
    background: none;
    top: initial;
    left: initial;
    /* end Edge support */
    /* grid-column: 3 / 3; */
    /* max-width: 70%; */
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  nav ul {
    display: flex;
    font-size: .5rem;
  }

  nav li {
    /* color:blue; */
    margin: 0 1em 0 1em;
      /* background: #232323; */
    /* filter: hue-rotate(9f0deg); */
  }

  nav a {
    opacity: 1;
    position: relative;
  }

  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: #2a2835bf;
    position: absolute;
    top: -.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }

  nav a:hover::before {
    transform: scale(1, 1);
  }


}

/* head-home
=================== */
.home-head {
  /* background-image: url(img/head-bg.jpg); */
  /* background-size: cover; */
  /* background-position: center; */
  /* padding: 1em 0; */
  /* color: white; */
}

@media (min-width: 60rem) {
  .home-head {
    /* height: 150vh; */
    padding-top: 12vh;
    padding-bottom: 9vh;
  }
}
@media (min-width: 60rem) {
  .page-content-outline {
    outline: 1px solid salmon;
    outline-offset: -2.5em;
  }
}

.page-content-outline {
  outline: 1px solid salmon;
  /* outline-offset: -.4em; */
}

.page-content {
  text-align: center;
  padding: 5em 2em;
  background-color: inherit;
  color: #232323;
  position: relative;
}

.page-content p {
  text-align: left;
}

.page-content-timeline {
  /* text-align: left; */
  /* background-color: white; */
  /* padding-top: 2em; */
  color: #232323;
  position: relative;
}

.page-content .fancy-text {
  font-size: .8rem;
  color: salmon;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: #FFF;
  top: 1.8rem;
  padding: 0 .425em;
}


/* general text padding */
@media (min-width: 37rem) {
  .page-content {
    padding: 4.5em 23% 4.5em 23%;
}
  }

@media (min-width: 60rem) {
  .page-content p {
    font-size: 1.2rem;
    /* padding: 4.5em 21em 4.5em 2.5em; */
  }

  /*
    .page-content p unstyled-list {
      padding: .25em 12.5em .25em 12.5em;
    } */
  .page-content ol {
    font-size: 1.2rem;
    padding-top: 0.15em;
    /* padding-right: 10em; */
    padding-bottom: 0.15em;
    /* padding-left: 2.7em; */
    /* line-height: 1.5em; */
  }

  .page-content ul {
    font-size: 1.2rem;
    padding-top: 0.15em;
    /* padding-right: 10em; */
    padding-bottom: 0.15em;
    /* padding-left: 1.4em; */
    /* line-height: 1.5em; */
  }

  .page-content li {
    
  }

  .noBullet-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  /* .noBullet-expanded {
      margin: 0;
      padding: 0;
      list-style: none;
      line-height: 1.5rem;
      margin-bottom: 1.25em;
    } */
  .talks ul {
    padding: .25em 0 .25em 0em;
  }

  .talks li {
    padding: .5em 0 .5em 0em;
  }

  .talks h2 {
    padding: 20rem 6.8em 0em 6.8em;
  }

  .cta h2 {
    padding: 0rem 6.8em 0em 6.8em;
  }
}

/* h1 h2 desktop */
@media (min-width: 60rem) {
  .page-content h1 {
    font-size: 2.5rem;
    text-align: left;
    letter-spacing: 0.15em;
    font-weight: 200;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  .page-content h2 {
    font-size: 2rem;
  }

  span.subtitle {
    font-size: 1.5rem;
    margin: 0;
    line-height: 0;
  }

  h2.blog-teaser {
    text-align: center;
    font-size: 1.7rem;
  }

  h2.blog-tools {
    font-size: 2.5rem;
    padding: 0rem 6.3em .2em 6.3em;
    margin-bottom: 0;
    margin-top: 5rem;
  }

  .page-content h3 {
    font-size: 1.6rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }

  .page-content h4 {
    font-size: 1.3rem;
    color: salmon;
    font-weight: 300;
    margin: 0;
  }

  .page-content .blog-lessons {
    padding-left: 5.85rem;
    padding-right: 5.85rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
}

/* blog
=================== */
.blog-post {
  text-align: left;
  padding: 6em .5em 6em .5em;
}

@media (min-width: 37rem) {
  .blog-post {
    padding: 16em 15em 16em 15em;
  }
}

@media (min-width: 60rem) {
  .blog-post {
    padding: 10em 40em 40em 15em;
  }
}

/* portfolio
=================== */
.portfolio {
  margin: 0em;
  /* margin-bottom: 5rem; */
}

.port-item {
  margin: 0em;
  position: relative;
}

.port-item img {
  display: block;
  /* width: 100vw; */
}

.port-desc {
  position: absolute;
  z-index: 90;
  bottom: 0em;
  left: 0em;
  right: 0em;
  /* color: #FFF; */
  /* background: rgba(102, 97, 127, .80); */
  padding-bottom: 0em;
  text-decoration: none;
  text-transform: none;
}

.port-desc p {
  margin: 0em;
}

@media (min-width: 37rem) {
  .port-item {
    width: 50%;
    float: left;
  }
}

@media (min-width: 60rem) {
  .port-item {
    width: 33.3333334%;
    overflow: hidden;
  }

  .port-desc {
    transform: translateY(150%);
  }

  .port-item:hover .port-desc {
    transform: translateY(0%);
  }
}

.port-desc {
  position: absolute;
  text-decoration: none;
  text-transform: none;
  /* z-index: 90;
  bottom: 0em;
  left: 0em;
  right: 0em; */
  /* color: #FFF; */
  /* background: rgba(102, 97, 127, .80); */
  /* padding-bottom: 0em; */
}

/* CTA
=================== */
/* call to action */
.cta {
  /* color: rgba(250, 128, 113, 0.27); */
  padding: 5em 0em 2em 0em;
  border-top: 3px solid rgba(40, 250, 120, 0.83);
  /* green */
  border-bottom: 3px solid rgba(40, 250, 120, 0.83);
}

.cta h2 {
  /* background-color: inherit; */
  color: rgba(78, 97, 108, 1);
  /* grey blue */
  margin: 0em 2em 0em 2em;
}

/* Contact
=================== */
.contact {
  text-align: center;
  object-position: center;
  margin-top: .5rem;
  margin-bottom: 1rem;
}

/* Footer
=================== */
footer {
  padding: 1em 0;
  background-color: rgba(245, 243, 251, .9);
  text-align: center;
  display: inline-block;  
  /* bottom: 0; */
  /* left: 0; */
  width: 100vw;
}

.feather {
  width: 22px;
  height: 22px;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: .3em;
  margin-bottom: .3em;
  opacity: 0.3;
}

.feather:hover {
  opacity: 0.7;
}

/* Timeline */
.timeline {
  border-left: .3rem solid salmon;
  /* border-bottom-right-radius: 2px; */
  /* border-top-right-radius: 2px; */
  margin: 3rem auto;
  position: relative;
  padding-left: 3.1rem;
  padding-top: 0rem;
  list-style: none;
  text-align: left;
  max-width: 70%;
}

.timeline .event {
  margin-bottom: 50px;
  position: relative;
}

.timeline .event:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}

.timeline .event:before,
.timeline .event:after {
  position: absolute;
  display: block;
  top: 0;
}

.timeline .event:before {
  left: -11.5rem;
  background-color: inherit;
  color: rgba(128, 128, 128, 0.2);
  content: attr(data-date);
  text-align: right;
  font-weight: 100;
  font-size: .8rem;
  min-width: 7.7rem;
  top: -.04rem;
}

.timeline .event:after {
  box-shadow: 0 0 0 4px salmon;
  left: -3.6rem;
  color: inherit;
  background: white;
  border-radius: 50%;
  height: .8rem;
  width: .8rem;
  content: "";
  top: .5rem;
}
.city {
  font-size: 1.4rem;
  font-weight: 300;
  margin: 0;
  padding:0:
  background-color:inherit;
  color:salmon;
}

@media (min-width: 60rem) {
  .timeline {
    border-left: .3rem solid salmon;
    /* border-bottom-right-radius: 2px; */
    /* border-top-right-radius: 2px; */
    margin: 3rem auto;
    position: relative;
    padding-left: 3.1rem;
    padding-right: 3.1rem;
    padding-top: 0rem;
    list-style: none;
    text-align: left;
    max-width: 70%;
  }
  
  .timeline .event {
    /* border-bottom: 1px dashed rgba(0, 128, 128, 0.1); */
    padding-bottom: 25px;
    margin-bottom: 50px;
    position: relative;
  }
  
  .timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
  }
  
  .timeline .event:before,
  .timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
  }
  
  .timeline .event:before {
    left: -12.4rem;
    background-color: inherit;
    color: rgba(128, 128, 128, 0.2);
    content: attr(data-date);
    text-align: right;
    font-weight: 100;
    font-size: 1.4rem;
    min-width: 7.7rem;
    top: -.05rem;
  }
  
  .timeline .event:after {
    box-shadow: 0 0 0 4px salmon;
    left: -3.6rem;
    color: inherit;
    background: white;
    border-radius: 50%;
    height: .8rem;
    width: .8rem;
    content: "";
    top: .5rem;
  }
}

#timer {
  background-color: inherit;
  color: #000;
  /* font-family: arial; */
  font-size: 30px;
}

.socialsharebox {
  padding-bottom: 3em;
  /* text-align: center; */
  /* z-index: 999; */
  /* width: 100%; */
}

.blogshareicon {
  /* width: 22px; */
  height: 22px;
  margin-top: .8em;
  margin-bottom: .8em;
  /* display: block;
  margin-left: auto;
  margin-right: auto; */
}

#showAndHide {display: none;}


/* IMAGES */
img {
  width: 100%;
  max-width: 100%;
  /* display: block; */
  height: auto;
}

.new-port-container {
  position: relative;
}

.new-port-image {
  display: block;
}

.new-port-text {
  position: absolute;
  font-size: .8rem;
  left: .5rem;
  color: white;
  background-color: rgba(100, 0, 130, 0.21);
  padding: .2rem;
}

.new-port-text:hover {
  /* position: absolute; */
  /* color: yellow; */
}

.image {
  display: block;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
  width: 20rem;
}

.shrink-image {
  display: block;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
  width: 15rem;
}

.wide-image {
  display: block;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
  width: 40rem;
}

.image-blog-teaser {
  display: block;
  margin-top: 0rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
  width: 20.9rem;
}

.image-with-caption {
  display: block;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  width: 30rem;
}

.vidContent {
  width: 50vw;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;

}

.vidContent iframe {
  width: 50vw;
}

.profile-pic {
  width: 10rem;
}

.image-outline {
  border-left: .1rem solid rgba(250, 128, 114, 0.3);
  border-right: .1rem solid rgba(250, 128, 114, 0.3);
  border-bottom: .1rem solid rgba(250, 128, 114, 0.3);
  border-top: .1rem solid rgba(250, 128, 114, 0.3);
}

/* CV styles */
.cv {
  margin-bottom: 3rem;
}
.img-cv:hover {
  border: 1px dashed salmon; 
}
