html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  scroll-behavior: smooth;

}

input, select, textarea, button {font-family: inherit;}


/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

*:focus {
  outline: none;
}

html {
  background-color:black;
  padding: 0;
  margin: 0;
}

#c {
  width: 100%;
  height: 100%;
  display: block;
  z-index: 100;
}

body {
  font-family: 'PT Mono', monospace;
  line-height: 1;
  letter-spacing: .25rem;
  margin: 0;
  font-size: 1rem;
  color: #ffffff;
  height: 100vh;
  perspective: 1px;
  transform-style: preserve-3d;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  display: flex;
}

#wrapperToggleDiv{
  z-index: 1;
  text-align: center;
  position: fixed;
  display: flex;
  margin: 1rem;
}

.wrapper {
  z-index: 1;
  position: fixed;
  display: flex;
  flex-flow: row wrap;
  max-width: 30%;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: auto;
  bottom: 1rem;
  top: 6rem;
  visibility: hidden;
  background-color:rgba(55, 53, 50, 0.5);
  border-radius: 50% 20% / 10% 40%;
  max-width: 15%;
  /* transition: all 350ms ease-in-out; */

  /* animation: fadeIn 0s rotate 1s forwards; */

  /* transition: visibility 6s linear 6s, opacity 3.5s ease; */
  /* opacity: .5; */
  /* height: max-content; */
}

.openWrapper {
  opacity: 1;
  transition: visibility 6s linear 2s, opacity 3.5s ease;
  visibility: visible;
  /* background-color: red; */
  transition: all 350ms ease-in-out;

/* -webkit-transition:all .3s ease-in-out; */
  /* transition:all .3s ease-in-out; */
}

.postBtn {
margin: 2rem auto 2rem auto;
/* width: 5rem; */
  background-color: rgba(60, 41, 29, 0.5);

  border: 2px solid black;
  border-radius: 0.6em;
  cursor: pointer;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .15rem;
  border-color: rgb(20, 20, 33);
  color: #fff;
  transition: all 350ms ease-in-out;
}


.postBtn:hover{
  /* box-shadow: 0 0 10px 0 rgb(23, 23, 44) inset, 0 0 10px 4px  rgb(23, 23, 44); */
  color: #fff;
  outline: 0;
  box-shadow: 0 0 40px 40px rgba(24, 20, 42, .7) inset;
}

.postBtn:focus{
  color: #fff;
    outline: 0;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  margin: 1rem;
  background:rgb(53, 205, 114);
  opacity: .6;
  border-radius: 2px;
  transition-duration: 2s;
  transition-property: background-color;
}

.btn:hover {
  opacity: .9;
}

.currBtn {
  opacity: .8;
  width: 6rem;
  height: 6rem;
  animation: pulse 20s alternate infinite;
}

.wrapperBtn {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 2.5rem;
  height: 2.5rem;
  /* rotate: 90deg; */
  border-radius: 96% 94% 90% 90% / 95% 92% 88% 95%;
  opacity: .5;
}

.wrapperBtnOpening{
  /* visibility: hidden; */
  background: radial-gradient(rgb(208, 170, 55), rgb(255, 67, 180));
  /* opacity: .1; */
  animation: rotate 1s forwards;

}

.wrapperBtnClosing{
  /* visibility: visible; */
  background: radial-gradient(rgb(208, 170, 55), rgb(255, 67, 180));
  animation: rotateReverse 1s forwards;
}

.wrapperBtnClosed{
  /* visibility: visible; */
  background: radial-gradient(rgb(208, 170, 55), rgb(255, 67, 180));
}

.friendModalDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 50;
  height: 95vh;
  width: 100vw;
  border-top-left-radius: 100rem;
  border-top-right-radius: 100rem;
	position:fixed;
  text-align: center;
  bottom:0;
  visibility: hidden;
  transition: visibility 0s lineaer 0.1s, opacity 0.3s ease;
	/* overflow:auto; */
	background-color:rgba(0, 0, 0, 0.6);
  transition: all 350ms ease-in-out;

}


.openFriendModalDiv {
	position:absolute;
  visibility: visible;
    opacity: 1;
    transition-delay: 0s;
	-webkit-transition:all .3s ease-in-out;
    transition:all .3s ease-in-out;
}

.friendModalDiv > p {
	background-color:#eee;
	/* border-bottom:1px solid #bfbfbf; */
	font-size:24px;
	/* font-weight:400; */
	padding:0.8em 56px .8em 27px; 
  text-align: center;
}

.textDiv{
  flex-direction: row;
  max-height: 5rem;
  margin: 10rem auto 2rem auto;
}

.inputDiv{
  flex-direction: row;
  margin: 0 auto;
  /* background-color: red; */

}

input {
  display: block;
  font-family: inherit;
  padding: 1rem .24rem 1rem .24rem;

  /* visibility: inherit; */
  /* margin-top: 2rem; */
  /* opacity: .85; */
  /* margin: 3rem, 0 0 0; */
  width: 20rem;  /* width: 2rem; */
}

/* .FriendModalDiv > div {padding:23px 27px;} */

#btn1 {
  border-radius: 46% 54% 70% 30% / 45% 42% 58% 55%;
  background: radial-gradient(rgb(0, 195, 255), rgb(0, 4, 255));

}
#btn2 {
  border-radius: 30% 70% 43% 57% / 64% 42% 58% 36%;
  background: radial-gradient(rgb(255, 0, 200), rgb(43, 0, 255));

}
#btn3 {
  border-radius: 78% 22% 43% 57% / 64% 62% 38% 36% ;
  background: radial-gradient(red, yellow);
}
#btn4 {
  border-radius: 31% 69% 31% 69% / 66% 60% 40% 34%;
  background: radial-gradient(blue, green);
}
#btn5 {
  border-radius: 18% 82% 73% 27% / 84% 62% 38% 16% ;
  background: radial-gradient(green, yellow);
}
#btn6 {
  border-radius: 50% 50% 31% 69% / 50% 28% 72% 50%;
  background: radial-gradient(purple, teal);
}

.morph {
  background: radial-gradient(teal, yellow);
  height: 300px;
  width: 300px;
  border-radius: 30% 30% 30% 30% / 30% 30% 30% 30%;
  transition: all 1.5s ease;
}


#video {
  position: fixed;
  right: 0;
  bottom: 0;
  /* max-width: 100%; */
  opacity: .5;
  min-height: 100%;
  z-index: -99;
  animation: colourShift 10s ease-out 2s infinite alternate;

}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ }
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ 
  
  body{
    font-size: 1.5rem;
  }



  .currBtn {
    width: 8rem;
    height: 8rem;
  }
  
}
@media (min-width:1281px) { /* hi-res laptops and desktops */ 
}





  /* animation: spin 2s linear infinite; */

/*
.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before, .chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 20%;
  width: 51%;
  background: #8264bf;
}


.highlight {
  filter: hue-rotate(220deg);
}





@keyframes glow {
  0% {
    filter: hue-rotate(30deg);
    transform: scale(1);
  }
  50% {
    filter: hue-rotate(90deg);
  }
  100% {
    filter: hue-rotate(120deg);
    transform: scale(1.3);
  }
}

@keyframes fadeOut {
  0% {
    opacity: .6;
  }
  50% {
    opacity: .4;
  }
  100% {
    opacity: .4;
  }
}

*/
@keyframes colourShift {
  0% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(90deg);
  }
  100% {
    filter: hue-rotate(120deg);
  }
}


@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
} 

@keyframes rotate {
  100% {
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
  }
} 

@keyframes rotateReverse {
  100% {
    -webkit-transform: rotate(-40deg);
    transform: rotate(-40deg);
  }
} 


@keyframes pulse {
  0% {
    transform: scale(1);
    /* transform: rotate(5deg);  */

  }
  100% {
    transform: scale(.8);
    /* transform: rotate(-5deg);  */
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .6;
  }
  100% {
    opacity: 1;
  }
}