html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end reset */

#calendar {
  /* display: block; */
  /* position: relative; */
}

.calendar-month {
  width: 86.5%;
  margin: 0 auto;
  padding: 20px;
  background: #fff;
  list-style-type: none;
}
.calendar-month .week {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* height: 15% !important; */
}
.calendar-month .week__header {
  order: 1;
  background: #fff;
  border-right: 1px solid #e8e8e8;
  text-align: center;
  padding: 20px;
  text-transform: uppercase;
  color: rgb(0, 128, 0);
  letter-spacing: 4px;
  width: 14.2857%;
  box-sizing: border-box;
}
.calendar-month .week__header:nth-child(7) {
  border-right: 0;
}

.calendar-month .week__header:first-letter {
  font-size: .7rem;
}
.calendar-month .week__header:first-letter {
  font-size: .8rem;
}
@media (max-width: 767px) {
  .calendar-month .week__header {
    padding: 10px 0;
    font-size: 0;
  }
}
.calendar-month .days {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
}
.calendar-month .day {
  position: relative;
  order: 1;
  width: 14.2857%;
  background: #fff;
  border-right: 1px solid #e8e8e8;
  border-top: 1px solid #e8e8e8;
  transition: 0.5s;
  box-sizing: border-box;
  background-size: cover;
  
}

#day1 {
    /* background-image: url("img/bell.png"); */
    /* background-repeat: no-repeat; */
    /* background-size: contain, cover; */

  }


.icon{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  /* margin-bottom: -100%; */
  /* box-sizing: border-box; */
  padding-top: 2rem;
  max-width: 50%;
  /* min-height: 50%; */
  /* max-height: 50%; */
  
  /* background-color: transparent; */
}

.icon-tall{
  /* display: block;
  margin: auto;
  max-width: 50%;
  max-height: 60%;
  padding: 1rem;
  margin-bottom: -100%; */
  max-width: 30%;

}

.blurIcon{
  opacity: .3;
  filter: grayscale(1) blur(9px) opacity(.7);
  /* filter: blur(3px); */
}

.colorIcon{

}

.calendar-month .day:nth-child(7n + 7) {
  border-left: none;
}
.calendar-month .day:nth-child(7n + 7) {
  border-right: none;
}
.calendar-month .day:after {
  /* Create responsive square div */
  content: "";
  display: inline-block;
  /* padding-bottom: 100%; */
}
.calendar-month .day:hover {
/*   transform: scale(1.08); */
   background-color: rgba(3,3,3,.1); /* Tint color */
  background-blend-mode: multiply;
/*   filter: hue-rotate(30deg); */
}
.calendar-month .day__number {
  position: absolute;
  right: 20px;
  top: 20px;
  margin: 0;
}
@media (max-width: 767px) {
  .calendar-month .day__number {
    right: 5px;
    top: 5px;
  }
}
.calendar-month .empty {
  /* background: #f8f8f8; */
}
.calendar-month .empty:hover {
  cursor: default;
  background: #ffffff37;
}
.calendar-month a {
  /* display: block; */
  display: inline;
  width: 100%;
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  letter-spacing: 1.3px;
  font-size: .75rem;
  /* padding: 50px 0; */
  /* margin: 0; */
  background: teal;
}

a {
  color: red;
  text-decoration: none;
}

#footer-container{
  display: flex;
  flex-direction: column;
  width: 100% !important;
  margin: auto !important;
  margin-top: 3rem !important;
  padding: 0 !important;
}

.footer-content {
  display: flex;
  flex-direction: column; 
  box-sizing: border-box !important; 
  /* margin: 4rem auto;  */
  padding: 3rem 5rem;
  /* width: 90% !important; */
}

#mailchimp-container {
  background-color: rgba(7, 41, 21, 0.653) !important;
  display:flex;
  margin: 4rem auto;
  width: 90% !important;
  padding-bottom: 3rem;
  margin: 3rem auto;
  max-width: 90%;
  border: 1px dotted red;
}


#paypal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100% !important;
  background-color:black;
  padding: 3rem 6rem 5rem 6rem;
  /* border-top: 3px double red; */
  margin-top: 4rem;
}

.footer-text {
  font-size: 1.3rem;
  text-align: center;
  padding: 2rem 6rem;
  /* display: block; */
  color: white;
  line-height: 2rem;
  
}

#paypal-text {
  color: white;
}

.vidDiv {
  z-index: 5;
  display:flex;
  margin: auto;
  left: 2.5%;
  right: 2.5%;
  top: 10%;
  width: 90%;
  height: 90%;
  background-color: black;
  opacity: 100%;
  /* position: absolute; */
  position: fixed;
  outline: 5rem solid rgba(0, 0, 0, 0.83);
}

.close {
  color: white;
  z-index: 200;
  position: absolute;
  right: -35px;
  top: -30px;
  width: 32px;
  height: 32px;
  opacity: 0.8;
  /* visibility: hidden; */
}
.close:hover {
  opacity: 1;
}
.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 4px;
  background-color: #8d0cff;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
.visible {
  visibility: visible;
}

#logo {
  width: 15rem;
  display: block;
  margin: 2rem auto;
  margin-top: 7rem;
  padding: 1rem;
}

.iconImg {
  width: .5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* background video  */
/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -200;
}

/* Add some content at the bottom of the video/page */
.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}



/* mailchimp stuff */

#mc_embed_signup form {background-color: transparent; text-align:center; padding:10px 0 10px 0;}
.mc-field-group { display: inline-block; } /* positions input field horizontally */
#mc_embed_signup input.email {font-family:"Open Sans","Helvetica Neue",Arial,Helvetica,Verdana,sans-serif; font-size: 15px; border: 1px solid #ABB0B2;  -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; color: #343434; background-color: #fff; box-sizing:border-box; height:32px; padding: 0px 0.4em; display: inline-block; margin: 0; width:350px; vertical-align:top;}
#mc_embed_signup ∏abel {display:block; font-size:16px; padding-bottom:10px; font-weight:bold;}
#mc_embed_signup .clear {display: inline-block;} /* positions button horizontally in line with input */
#mc_embed_signup .button {font-size: 13px; border: none; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; letter-spacing: .03em; color: #fff; background-color: #aaa; box-sizing:border-box; height:32px; line-height:32px; padding:0 18px; display: inline-block; margin: 0; transition: all 0.23s ease-in-out 0s;}
#mc_embed_signup .button:hover {background-color:#777; cursor:pointer;}
#mc_embed_signup div#mce-responses {float:left; top:-1.4em; padding:0em .5em 0em .5em; overflow:hidden; width:90%;margin: 0 5%; clear: both;}
#mc_embed_signup div.response {margin:1em 0; padding:1em .5em .5em 0; font-weight:bold; float:left; top:-1.5em; z-index:1; width:80%;}
#mc_embed_signup #mce-error-response {display:none;}
#mc_embed_signup #mce-success-response {color:#529214; display:none;}
#mc_embed_signup label.error {display:block; float:none; width:auto; margin-left:1.05em; text-align:left; padding:.5em 0;}
@media (max-width: 768px) {
    #mc_embed_signup input.email {width:100%; margin-bottom:5px;}
    #mc_embed_signup .clear {display: block; width: 100% }
    #mc_embed_signup .button {width: 100%; margin:0; }
}

#mc_embed_signup{
  background-color: transparent;
  clear: left;
  /* font: 1.5rem Helvetica, Arial, sans-serif; */
  width: 100%;
}

#mc_embed_signup .button {
  /* font-size: 13px;  */
  border: 2px solid grey !important; 
  -webkit-border-radius: 3px; 
  -moz-border-radius: 3px; 
  /* border-radius: 3px;  */
  /* letter-spacing: .03em;  */
  color: #fff; 
  background-color: rgb(255, 0, 0); 
  box-sizing:border-box; 
  height:32px; 
  line-height:32px; 
  padding:0 18px; 
  display: inline-block; 
  margin: 0; 
  transition: all 0.23s ease-in-out 0s;
  /* max-width: 30%; */
}