html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end reset */

#calendar {
  display: block;
  /* position: relative; */
}

.calendar-month {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  background: #fff;
  list-style-type: none;
}
.calendar-month .week {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.calendar-month .week__header {
  order: 1;
  background: #fff;
  border-right: 1px solid #e8e8e8;
  text-align: center;
  padding: 20px;
  text-transform: uppercase;
  color: teal;
  letter-spacing: 4px;
  width: 14.2857%;
  box-sizing: border-box;
}
.calendar-month .week__header:nth-child(7) {
  border-right: 0;
}
.calendar-month .week__header:first-letter {
  font-size: 12px;
}
@media (max-width: 767px) {
  .calendar-month .week__header {
    padding: 10px 0;
    font-size: 0;
  }
}
.calendar-month .days {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
}
.calendar-month .day {
  position: relative;
  order: 1;
  width: 14.2857%;
  background: #fff;
  border-right: 1px solid #e8e8e8;
  border-top: 1px solid #e8e8e8;
  transition: 0.5s;
  box-sizing: border-box;
  background-size: cover;
}

#day1 {
    /* background-image: url("img/bell.png"); */
    /* background-repeat: no-repeat; */
    /* background-size: contain, cover; */
  }


.icon{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -100%;
  box-sizing: border-box;
  padding-top: 2rem;
  max-width: 50%;
  max-height: 60%;
  
  /* background-color: transparent; */
}

.icon-tall{
  /* display: block;
  margin: auto;
  max-width: 50%;
  max-height: 60%;
  padding: 1rem;
  margin-bottom: -100%; */
}

.blurIcon{
  opacity: .3;
  filter: blur(3px);
}

.colorIcon{

}

.calendar-month .day:nth-child(7n + 7) {
  border-left: none;
}
.calendar-month .day:nth-child(7n + 7) {
  border-right: none;
}
.calendar-month .day:after {
  /* Create responsive square div */
  content: "";
  display: block;
  padding-bottom: 100%;
}
.calendar-month .day:hover {
/*   transform: scale(1.08); */
   background-color: rgba(3,3,3,.1); /* Tint color */
  background-blend-mode: multiply;
/*   filter: hue-rotate(30deg); */
}
.calendar-month .day__number {
  position: absolute;
  right: 20px;
  top: 20px;
  margin: 0;
}
@media (max-width: 767px) {
  .calendar-month .day__number {
    right: 5px;
    top: 5px;
  }
}
.calendar-month .empty {
  background: #f8f8f8;
}
.calendar-month .empty:hover {
  cursor: default;
  background: #f8f8f8;
}
.calendar-month a {
  display: block;
  width: 100%;
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  letter-spacing: 1.3px;
  font-size: .75rem;
  /* padding: 50px 0; */
  /* margin: 0; */
  background: teal;
}

a {
  color: red;
  text-decoration: none;
}

#footer-container{
  display: flex;
  flex-direction: column;
  width: 100% !important;
  margin: auto !important;
  margin-top: 3rem !important;
  padding: 0 !important;
}

.footer-content {
  display: flex;
  flex-direction: column; 
  box-sizing: border-box !important; 
  /* margin: 4rem auto;  */
  padding: 3rem 5rem;
  /* width: 90% !important; */
}

#mailchimp-container {
  background-color:transparent !important;
  display:flex;
  margin: 4rem auto;
  width: 93% !important;

  /* padding: 2rem; */
  /* background-color: red; */
  /* box-sizing: border-box !important; */
  /* width: 50% !important; */
  /* margin: auto !important; */
  /* display:flex ;
  margin: auto;
  align-items: center;
  justify-content: center; */
}

.form {
  padding-bottom: 3rem;
  /* border: 1px solid #ccc; */
  border: 3px dashed red;
}

#mc_embed_signup{
  background-color: transparent !important;
}

#mc_embed_signup .button {
  /* font-size: 13px;  */
  border: 2px solid grey !important; 
  -webkit-border-radius: 3px; 
  -moz-border-radius: 3px; 
  border-radius: 3px; 
  letter-spacing: .03em; 
  color: #fff; 
  background-color: #aaa; 
  box-sizing:border-box; 
  height:32px; 
  line-height:32px; 
  padding:0 18px; 
  display: inline-block; 
  margin: 0; 
  transition: all 0.23s ease-in-out 0s;
  /* max-width: 30%; */
}


#paypal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100% !important;
  background-color:black;
  padding: 2rem 6rem;
  /* border-top: 3px double red; */
  margin-top: 4rem;
}

.footer-text {
  font-size: 1.3rem;
  text-align: center;
  padding: 2rem 6rem;
  /* display: block; */
  /* color: purple; */
}

#paypal-text {
  color: white;
}



.vidDiv {
  z-index: 10;
  left: 1%;
  right: 1%;
  top: 2%;
  width: 98%;
  height: 98%;
  background-color: black;
  opacity: 95%;
  /* position: absolute; */
  position: fixed;
}

.close {
  color: white;
  z-index: 20;
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.8;
  visibility: hidden;
}
.close:hover {
  opacity: 1;
}
.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 2px;
  background-color: #8d0cff;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
.visible {
  visibility: visible;
}

#logo {
  width: 15rem;
  display: block;
  margin: auto;
  margin-bottom: 2rem;
  padding: 1rem;
}

.iconImg {
  width: .5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

