html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

*:focus {
    outline: none;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  background-color: black;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'PT Mono', monospace;
  letter-spacing: .25rem;
  margin: 0;
  font-size: 1.3rem;
  color: #ffffff;
  height: 100vh;
  perspective: 1px;
  transform-style: preserve-3d;
  overflow-x: hidden;
  overflow-y: auto;
  /* background: url('images/bg.png'), auto; */
  /* cursor: url('images/char/swimLady.png') 12 18, auto; */
}

a:link, a:visited {
  /* background-color: blue; */
  color: #799be2;
  /* padding: 14px 25px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: black;
  /* cursor: url('images/char/plantLady.png') 12 18, auto; */
}

.image, .finalImage, .choiceImage {
  align-self: center;
  max-width: 15vw;
  padding: .3rem;
}

#finalImageRow {
  grid-area: imageRow;
  display: flex;
	/* flex-direction: column; */
	justify-content: space-around;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
	z-index: -10;
	opacity: .5;
}

#titling {
  width: 13rem;
}

#creaturesL {
  width: 6rem;
}

#creaturesL {
  width: 6rem;
}

#greenGlow {
  z-index: 5;
  max-width: 25vw;
}

.choiceImage {
  /* width: 10rem; */
  padding: .1rem;
  opacity: 0.6;
}

.choiceImage:hover {
  /* stroke: 1rem solid yellow; */
  /* display: inline-block; */
  opacity: 1;
  filter: hue-rotate(90deg);
  /* border-radius: 50%; */
}

.choice {
  align-self: center;
  opacity: 0.6;
  line-height: 2rem;
}

.choice:hover {
  opacity: 1;
}

.choiceLink:hover {
  filter: hue-rotate(90deg);
}

/* .choice:active{
	filter: hue-rotate(180deg);
}

.choice:focus{
	filter: hue-rotate(180deg);
} */
#climber {}

.row1 {
  grid-area: top;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  padding: 1rem;
  margin: 2rem;
}

.row2 {
  grid-area: middle;
  /* grid-row: 1/4; */
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  animation: pulse 30s ease-in-out 0s alternate infinite;
}

.fade{
  animation: fade 5s ease-out 0s normal;
  animation-fill-mode: forwards;
}

#questionstxt {
  animation: fadeOut 3s ease-in-out 0s alternate infinite;
}

.number {
  letter-spacing: .55rem;
  font-size: 2rem;
  font-weight: bolder;
  color: rgb(129 103 192 / .64);
}

.row3 {
  grid-area: bottom;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-items: center;
  align-content: center;
  align-self: flex-end;
  z-index: 99;
}

.row4 {
  grid-area: highlight;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-items: center;
  align-content: center;
  /* z-index: 99 */
}

.textRow {
  grid-area: textRow;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  /* padding: 1rem; */
  /* margin: 2rem; */
  text-align: center;
}

.musicRow {
	grid-area: musicRow;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  /* padding: 1rem; */
  /* margin: 2rem; */
}

.imageRow {
  grid-area: imageRow;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  padding: 1rem;
  margin: 2rem;
}

#beginBtn {
  margin-bottom: -5rem;
  z-index: 10;
}

#beginBtn:focus {
  outline: none;
}

#seekText {
  margin: 0;
  font-size: playerQuestionLvl.5rem;
  color: #8073c7;
  margin: 2rem;
}

textarea {
  width: 35vw;
  height: 25vh;


}

.playerQuestion {
  margin: 0;
  font-size: 2rem;
  color: #d5ff9f;
  /* margin: 2rem; */
  perspective: playerQuestionLvlpx;
}

#questionButton {
  margin: 0;
  font-size: 20px;
  color: #8073c7;
  margin: 2rem;
}

#beginLvl {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 0px;
  grid-template-areas:
    "top top top"
    "middle middle middle"
    ". bottom .";
  /* ". highlight ."; */
  height: 110vh;
  width: 100vw;
  background: url(images/walls/0l.png), url(images/walls/0r.png);
  background-position: top 0 left 0, top 0 right 0;
  background-size: auto 100%, auto 100%;
  background-repeat: no-repeat, no-repeat;
}

.level {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 2px;
  grid-template-areas:
    ". . . . "
    ". questionRow questionRow ."
    ". textRow textRow ."
    ". imageRow imageRow ."
		". musicRow musicRow ."
    ". . . . ";
  height: 100vh;
  width: 100vw;
}

#playerQuestionLvl {
  background: url(images/walls/1l.png), url(images/walls/1r.png);
  background-position: top 0 left 0, top 0 right 0;
  background-size: auto 100%, auto 100%;
  background-repeat: no-repeat, no-repeat;
}

#questions3Lvl {
  background: url(images/walls/2l.png), url(images/walls/2r.png);
  background-position: top 0 left 0, top 0 right 0;
  background-size: auto 100%, auto 100%;
  background-repeat: no-repeat, no-repeat;
}

.choice1Lvl {
  display: flex;
  /* temp fix */
  flex-direction: column;
  /* temp fix */
  align-items: center;
  /* temp fix */
  background: url(images/walls/3l.png), url(images/walls/3r.png);
  background-position: top 0 left 0, top 0 right 0;
  background-size: auto 100%, auto 100%;
  background-repeat: no-repeat, no-repeat;
}

.choice2Lvl {
  display: flex;
  /* temp fix */
  flex-direction: column;
  /* temp fix */
  align-items: center;
  /* temp fix */
  background: url(images/walls/4l.png), url(images/walls/4r.png);
  background-position: top 0 left 0, top 0 right 0;
  background-size: auto 100%, auto 100%;
  background-repeat: no-repeat, no-repeat;
}

.choice3Lvl {
  display: flex;
  /* temp fix */
  flex-direction: column;
  /* temp fix */
  align-items: center;
  /* temp fix */
  background: url(images/walls/5l.png), url(images/walls/5r.png);
  background-position: top 0 left 0, top 0 right 0;
  background-size: auto 100%, auto 100%;
  background-repeat: no-repeat, no-repeat;
}

#findSongLvl {
  display: flex;
  /* temp fix */
  flex-direction: column;
  /* temp fix */
  align-items: center;
  /* temp fix */
  background: url(images/walls/6l.png), url(images/walls/6r.png);
  background-position: top 0 left 0, top 0 right 0;
  background-size: auto 100%, auto 100%;
  background-repeat: no-repeat, no-repeat;
}

#lastLvl {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 2px;
  grid-template-areas:
    ". questionRow ."
    ". songRow ."
    ". infoRow .";
	height: 100vh;
  width: 100vw;
}

#creditsLvl {
  display: flex;
  /* temp fix */
  flex-direction: column;
  /* temp fix */
  align-items: center;
  /* temp fix */
  background: url(images/walls/5l.png), url(images/walls/5r.png);
  background-position: top 0 left 0, top 0 right 0;
  background-size: auto 100%, auto 100%;
  background-repeat: no-repeat, no-repeat;
}

@media (min-height: 680px), screen and (orientation: portrait) {
  #beginLvl {}
  #playerQuestionLvl {}
  #questions3Lvl {}
  .choice1Lvl {}
  .choice2Lvl {}
  .choice3Lvl {}
  #findSongLvl {}
  #lastLvl {}
  #creditsLvl {}

}


.questionRow{
	  grid-area: questionRow;
	  display: flex;
	  align-items: center;
	  align-content: center;
	  justify-content: space-around;
	  /* padding: 1rem; */
	  /* margin: 2rem; */
	  text-align: center;
}
	.songRow{}
		.infoRow{}

#up {
  /* Level 1 */
}

#down {
  /* Level 1 */
}

#dark {
  /* Level 2 */
}

#joy {
  /* Level 2 */
}

#chaos {
  /* Level 3 */
}

#gentle {
  /* Level 3 */
}

#spirited {
  /* Level 3 */
}

#chill {
  /* Level 3 */
}

#out {
  /* Level 2 */
}

#in {
  /* Level 2 */
}

#morning {
  /* Level 3 */
}

#night {
  /* Level 3 */
}

#unfold {
  /* Level 3 */
}

#cycle {
  /* Level 3 */
}

h1 {
  /* font-size: 2rem; */
  /* color: white; */
  /* text-align: center; */
  visibility: hidden;
  display: none;
}

.button {
  background-color: black;
  background: black;
  color: #c2f08e;
  /* text-transform: uppercase; */
  text-decoration: none;
  font-size: 1rem;
  text-align: center;
  border: .5px solid #c2f08e;
  padding: 7px 20px;
  margin: 4px 2px;
  /* cursor: url('images/char/plantLady.png') 12 18, auto; */
  transition: all 1s ease 0s;
  opacity: .75;
}

button:hover {
  color: purple;
  /* background: #f6b93b; */
  border-color: purple;
  /* padding: 1.5rem; */
  transition: all 1s ease 0s;
  border-radius: 50px;
}

button:active {
  /* color: orange; */
  /* transform: translateY(4px); */
}

.content {
  /* margin: 0 auto;
    padding: 50px;
    width: 50%;
    color: white; */
  /* background: #aaa; */
}

.visible, .invisible {
  opacity: 0.0;
  transition: opacity 0.5s ease;
}

.visible {
  opacity: 1.0;
}

/*************** Button stuff ****************************/
.musiccolumn {
  display: flex;
  flex-direction: column;
}

.musicbuttoncontainer {
  width: 15rem;
  height: 15rem;
  margin: 1.5em auto;
  border: 5px solid #fe827b;
  opacity: .8;
  /* border: 5px dotted #00e8c4 */
  border-radius: 50%;
  background-image: url(images/char/plantLady.png);
  background-size: cover;
}

.musicbutton {
  display: flex;
  width: 24%;
  height: 24%;
  margin: 38% auto;
  border: 5px solid #fe827b;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url(images/play-pause-button.png);
  background-size: 100% auto;
  cursor: pointer;
}

.pause {
  background-position: 0 -100%;
}

.hide {
  display: none;
}

.remove {
  position: absolute;
  left: -999px;
  display: none;
}

/* .bg-video{
	width: 20rem;
	z-index: 1;
} */
@keyframes pulse {
  0% {
    /* transform: rotateX(20deg); */
    /* transform: translateY(10px); */
    transform: scale(1);
  }

  100% {
    transform: scale(1.5);
  }
}

@keyframes fade {
  0% {
    opacity: .6;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: .6;
  }

  50% {
    opacity: .3;
  }

  100% {
    opacity: 0;
  }
}
