/*
  A common approach is to use googleapis.com to generate css for the webfonts you want to use.
  The downside of this approach is that you have to be online. So below I have simply saved
  the output of the googleapis url into a file. Then you of course also have to make sure
  the webfonts are locally installed to make offline usage work. For Ubuntu (or Debian) I
  successfully used the script from here to do that:
  http://www.webupd8.org/2011/01/automatically-install-all-google-web.html
*/
/* @import url(http://fonts.googleapis.com/css?family=Open+Sans:regular,semibold,italic,italicsemibold|PT+Sans:400,700,400italic,700italic|PT+Serif:400,700,400italic,700italic|Cutive+Mono); */
@import url(fonts.css);

/*
    We display a fallback message for users with browsers that don't support
    all the features required by it. All of the content will be still fully
    accessible for them, but some more advanced effects would be missing.
    When impress.js detects that browser supports all necessary CSS3 features,
    the fallback-message style is hidden.
*/
.audio {
  display: flex;
  margin: auto;
}

.fallback-message {
  font-family: sans-serif;
  line-height: 1.3;
  width: 780px;
  padding: 10px 10px 0;
  margin: 20px auto;
  border: 1px solid #E4C652;
  border-radius: 10px;
  background: #EEDC94;
}

.fallback-message p {
  margin-bottom: 10px;
}

.impress-supported .fallback-message {
  display: none;
}

/*
  The body background is the bacgkround of "everything". Many
  impress.js tools call it the "surface". It could also be a
  picture or pattern, but we leave it as light gray.
*/
body {
  font-family: 'PT Sans', sans-serif;
  min-height: 740px;
  background: #fffecb;
  color: #fea893;
}

/*
    Now let's style the presentation steps.
*/
.step {
  /* position: relative; */
  display: flex;
  width: 700px;
  height: 700px;
  margin: auto;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 30px;
  background-color: rgba(100, 75, 150, 1);
  background-blend-mode: lighten;
  /* border: 1px solid blue; */
}

.firststep{
  align-self: flex-end;
    margin: 50px;
}

/*
    Make inactive steps a little bit transparent.
*/
.impress-enabled .step {
  margin: 0;
  opacity: 0.3;
  transition: opacity 1s;
}

.impress-enabled .step.active {
  opacity: 1
}

h1,
h2,
h3 {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  text-align: center;
}

p {
  text-align: center;
  margin: 0.7em;
}

li {
  margin: 0.2em;
}

/* Highlight.js used for coloring pre > code blocks. */
pre>code {
  font-size: 14px;
  text-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

/* Inline code, no Highlight.js */
code {
  font-family: "Cutive mono", "Courier New", monospace;
}

a {
  color: #7812ff;
  text-decoration: none;
  padding: .2em .6em .2em .6em;
  background: rgba(200, 200, 200, 0.3);
  /* text-shadow: -1px 1px 2px rgba(100,100,100,0.9); */
  border-radius: 0.2em;
  border-bottom: 1px solid rgba(100, 100, 100, 0.4);
  border-top: 1px solid rgba(100, 100, 100, 0.4);
  border-right: 1px solid rgba(100, 100, 100, 0.4);
  border-left: 1px solid rgba(100, 100, 100, 0.4);
  transition: 0.5s;
}

a:hover,
a:focus {
  background: rgba(200, 200, 200, 1);
  text-shadow: -1px 1px 2px rgba(100, 100, 100, 0.5);
}

#enterbtn {
  color: #7812ff;
  text-decoration: none;
  padding: .2em .6em .2em .6em;
  margin: 300px;
  /* background: rgba(200,200,200,0.3); */
  /* text-shadow: -1px 1px 2px rgba(100,100,100,0.9); */
  border-radius: 0.2em;
  border-bottom: 1px solid rgba(100, 100, 100, 0.4);
  border-top: 1px solid rgba(100, 100, 100, 0.4);
  border-right: 1px solid rgba(100, 100, 100, 0.4);
  border-left: 1px solid rgba(100, 100, 100, 0.4);
  transition: 0.5s;
}

#enterbtn:hover,
#enterbtn:focus {
  background: #42efc7;
  opacity: .7;
  text-shadow: -1px 1px 2px rgba(100, 100, 100, 0.5);
}

blockquote {
  font-family: 'PT Serif';
  font-style: italic;
  font-weight: 400;
}

em {
  text-shadow: 0 2px 2px rgba(0, 0, 0, .3);
}

strong {
  text-shadow: -1px 1px 2px rgba(100, 100, 100, 0.5);
}

q {
  font-family: 'PT Serif';
  font-style: italic;
  font-weight: 400;
  text-shadow: 0 2px 2px rgba(0, 0, 0, .3);
}

strike {
  opacity: 0.7;
}

small {
  font-size: 0.4em;
}

img {
  width: 600px
}

/****************** Background images **********************************************/
img.bg {
  position: absolute;
  /* display: flex; */
  /* display: block; */
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* width: 50%; */
  z-index: -100;
  opacity: 0;
  /* height: 60%; */
  /* width: auto; */
  transition: opacity 2s;
  /* top: 0%; */
  /* left: 10%; */
}

#main-image {
  /* left: 200px; */
  /* top: 0px; */
  /* height: 200px; */
  /* margin: auto; */
}

body.impress-on-main #main-image,
body.impress-on-conclusion #main-image,
body.impress-on-overview #main-image {
  opacity: 0.7;
  transition: opacity 2s;
}

#emergesubmerge-image {

}

body.impress-on-begin #emergesubmerge-image,
body.impress-on-conclusion #emergesubmerge-image,
body.impress-on-overview #emergesubmerge-image {
  opacity: 0.7;
  transition: opacity 2s;
}

#overunder-image {

}

body.impress-on-emerge #overunder-image,
body.impress-on-conclusion #overunder-image,
body.impress-on-overview #overunder-image {
  opacity: 0.7;
  transition: opacity 2s;
}

#darklight-image {

}

body.impress-on-soften #darklight-image,
body.impress-on-conclusion #darklight-image,
body.impress-on-overview #darklight-image {
  opacity: 0.7;
  transition: opacity 2s;
}

#stretchsoften-image {

}

body.impress-on-submerge #stretchsoften-image,
body.impress-on-conclusion #stretchsoften-image,
body.impress-on-overview #stretchsoften-image {
  opacity: 0.7;
  transition: opacity 2s;
}

#darklight-image {

}

body.impress-on-soften #darklight-image,
body.impress-on-conclusion #darklight-image,
body.impress-on-overview #darklight-image {
  opacity: 0.7;
  transition: opacity 2s;
}

#branchesroots-image {
  /* height: 100%; */
  /* right: 0px; */
  /* bottom: 0px; */
}

body.impress-on-over #branchesroots-image,
body.impress-on-conclusion #v-image,
body.impress-on-overview #branchesroots-image {
  opacity: 0.7;
  transition: opacity 2s;
}

#northernlightsrainbow-image {
  /* height: 100%; */
  /* right: 0px; */
  /* bottom: 0px; */
}

body.impress-on-stretch #northernlightsrainbow-image,
body.impress-on-conclusion #northernlightsrainbow-image,
body.impress-on-overview #northernlightsrainbow-image {
  opacity: 0.7;
  transition: opacity 2s;
}

#createdestroy-image {
  /* height: 100%; */
  /* right: 0px; */
  /* bottom: 0px; */
}

body.impress-on-under #createdestroy-image,
body.impress-on-conclusion #createdestroy-image,
body.impress-on-overview #createdestroy-image {
  opacity: 0.7;
  transition: opacity 2s;
}

/*************** Slide specific things ****************************/
#image-credits {
  color: #779988;
}

/*************** Button stuff ****************************/
.musiccolumn {
  display: flex;
  flex-direction: column;
}

.musicbuttoncontainer {
  width: 400px;
  height: 400px;
  margin: 1.5em auto;
  border: 5px solid #fe827b;
  opacity: .8;
  /* border: 5px dotted #00e8c4 */
  border-radius: 50%;
  background-image: url(../images/main.png);
  background-size: cover;
}

.musicbutton {
  display: flex;
  width: 24%;
  height: 24%;
  margin: 38% auto;
  border: 5px solid #fe827b;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url(../images/play-pause-button.png);
  background-size: 100% auto;
  cursor: pointer;
}

.pause {
  background-position: 0 -100%;
}

.hide {
  display: none;
}

.remove {
  position: absolute;
  left: -999px;
  display: none;
}
