/***********************/
/*****  CSS RESET  *****/
/***********************/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/***********************/
/*****    FONTS    *****/
/***********************/

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700");
@import url("https://fonts.googleapis.com/css?family=Lora&display=swap");
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@100&display=swap");

:root {
  --white: rgb(244, 244, 244);
  --lightGrey: rgb(211, 211, 211);
  --medGrey: rgb(147, 147, 147);
  --darkGrey: rgb(101, 101, 101);
  --black: rgb(79, 79, 79);
  --accentLight: rgb(232, 187, 255);
  --accentMed: rgb(122, 84, 142);
  --accentDark: rgb(90, 42, 114);
  --accentTwo: rgb(89, 56, 255);
}

/***********************/
/*****   PRELOAD   *****/
/***********************/

/* .preload * {
  transition: none !important;
} */

/***********************/
/***** FOUNDATIONS *****/
/***********************/

body {
  font-family: "Montserrat", sans-serif;
  width: 100vw;
  height: 100vh;
  letter-spacing: 0.15rem;
  font-size: 1.3rem;
  background-color: var(—black);
  text-align: center;
  overflow-x: hidden;
  overflow-y: auto;
}

.container {
  padding-top: 12vh;
}

@media screen and (min-width: 900px) {
  .container {
    padding-top: 11%;
  }
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.15rem;
  line-height: 1.25;
  color: var(—black);
}

.textSide p {
  padding-bottom: 3rem;
}

#homeTxt {
  padding-bottom: 0;
}

@media screen and (min-width: 900px) {
  p {
    font-size: 1.5rem;
    line-height: 1.25;
    padding-bottom: 0;
  }
}

/***********************/
/******** LINKS ********/
/***********************/

a {
  color: var(--accentDark);
  text-decoration: none;
}

a:hover {
  color: var(--accentTwo);
}

/***********************/
/******  BUTTONS  ******/
/***********************/

btn .btn {
  display: inline-block;
  background-color: var(--darkGrey);
  font-size: 1.11rem;
  text-decoration: none;
  text-transform: uppercase;
  margin: 3rem;
  padding: 0.6em 4em;
  outline: none;
  border: none;
  cursor: pointer;
}
/* 
.beginAgainBtn {
  display: inline-block;
  background-color: var(--darkGrey);
  font-size: 1.11rem;
  text-decoration: none;
  text-transform: uppercase;
  margin: 3rem;
  padding: 0.6em 4em;
  outline: none;
  border: none;
} */

#beginBtn, .beginAgainBtn {
  color: var(--white);
  text-decoration: none;
  display: inline-block;
  background-color: var(--medGrey);
  font-size: 1.11rem;
  outline: none;
  text-decoration: none;
  text-transform: uppercase;
  margin: 3rem;
  padding: 0.6em 4em;
  outline: none;
  border: none;
}

#play {
  font-size: 1.11rem;
  text-decoration: none;
  text-transform: uppercase;
  margin: 1rem;
  padding: 0.6em 4em;
  border-width: 0px;
}

.btn:hover,
.btn:focus,
btn:focus,
#beginBtn:hover,
#beginBtn:focus,
.beginAgainBtn:hover {
  background: var(--accentDark);
  color: var(--white);
  outline: none;
  border: var(--white);
  border-width: 0px;
}

/***********************/
/******  IMAGES  *******/
/***********************/

img {
  max-width: 100%;
  /* max-height: auto; */
}
/***********************/
/******* HEADERS *******/
/***********************/

h1 {
  /* font-family: 'Merriweather', serif; */
  text-align: center;
  color: rgba(71, 20, 86, 0.81);
  font-size: 2rem;
  letter-spacing: 0.1em;
  padding-top: 2rem;
  margin-bottom: 2rem;
  font-weight: 700;
}

h1:hover {
  /* letter-spacing: 0.2em; */
}

@media screen and (min-width: 900px) {
  h1 {
    font-size: 2.5rem;
  }
}

h2 {
  color: var(--accentLight);
  font-size: 1.8rem;
  font-weight: 400;
  margin: 1em 0em 0.75em 0em;
}

h3 {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--accentDark);
}

h4 {
  font-size: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: var(--accentLight);
}

h5 {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--accentLight);
}

/************************/
/* DESKTOP TXT/IMG GRID */
/************************/
@media (min-width: 60rem) {
  .row {
    display: flex;
  }
  .row > div {
    /* padding:15px; */
  }

  .textSide {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 2rem;
  }

  .imageSide {
    max-width: 50%;
    /* max-height: auto; */
  }

  .container .row:nth-child(2n + 1) {
    flex-direction: row-reverse;
  }
}

@media screen and (min-width: 900px) {
}

/***********************/
/*****    LISTS    *****/
/***********************/

ul {
  /* padding-top: 0.15em; */
}

li {
  text-align: left;
  margin-right: 1.5em;
  margin-left: 0.7em;
  line-height: 1.5;
  margin-bottom: 0.5em;
  list-style-type: disc;
}

/***********************/
/*** MOBILE  FORMS  ***/
/***********************/

form {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background-color: var(--lightGrey);
  padding: 1em;
}

#accessForm {
  display: block;
}

fieldset {
  margin: 3rem 0;
}

legend {
  font-size: 1.5rem;
  padding: 1rem;
}

/***********************/
/**** DESKTOP FORMS ****/
/***********************/
@media screen and (min-width: 900px) {
  form {
    width: 60%;
  }
}

form ul {
  padding: 10px;
  margin: 0;
}

form li {
  list-style: none;
  margin-top: 1em;
}

label {
  /* Uniform size & alignment */
  /* display: inline-block; */
  /* width: 90px; */
  /* text-align: right; */
}

input {
  font: 1em sans-serif;
  /* width: 300px; */
  /* box-sizing: border-box; */
  /* border: 1px solid #999; */
}

input:focus,
textarea:focus {
  /* Additional highlight for focused elements */
  /* border-color: #000; */
}

select {
  width: 12rem;
  padding: 5px 35px 5px 5px;
  font-size: 1rem;
  height: 2rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none; /* Remove default arrow in Internet Explorer 10 and 11 */
}

@media screen and (min-width: 0\0) {
  select {
    background: none\9;
    padding: 5px\9;
  }
}

/***********************/
/******** HEADER *******/
/***********************/

header {
  background-color: var(--white);
  position: absolute;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;
}

@media screen and (min-width: 900px) {
  header {
    width: 100vw;
    display: grid;
    grid-template-columns: max-content auto max-content;
    padding: 0;
    margin: 0;
    justify-content: normal;
    /* grid-template-columns: auto max-content minmax(600px, 3fr) 1fr; */
    /* border-bottom: .05em solid rgba(250, 128, 114, 0.3); */
    /* margin-bottom: 2rem; */
  }
}

/***********************/
/*** SITE NAME & LOGO **/
/***********************/

#nameAndLogo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem;
}

#siteName {
  text-align: center;
  /* cursor: pointer; */
  /* margin: 0 .15em; */
}

.frog-logo {
  width: 2.5rem;
  padding: 0.5rem;
}

.frog-logo:hover,
.button:focus {
  /* background: #232323; */
  filter: hue-rotate(280deg);
}

@media screen and (min-width: 900px) {
  .frog-logo {
    /* grid-column: 2 / 3; */
    /* width: 3rem; */
    /* display: block; */
  }
}

/************************/
/****** LANGUAGE *******/
/************************/

#langToggle {
  background-color: var(--accentLight);
  padding: 0.75rem;
  box-sizing: border-box;
  margin: 2rem;
  border: none;
}

#langToggle:hover {
  color: var(--accentLight);
  background-color: var(--accentDark);
  padding: 0.75rem;
  box-sizing: border-box;
  margin: 2rem;
}

@media (min-width: 60rem) {
  #langToggle {
    /* width: 3rem; */
    /* height: auto; */
    /* paddin g: 1rem; */
  }
}

/***********************/
/******* LOADER ********/
/***********************/

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/***********************/
/** MUSIC PLAYER DIV ***/
/***********************/

#musicPlayerDiv {
  display:flex;
  flex-direction: column;
  align-items: center;
}

#wrapper {
  text-align: center;
  margin: 0 auto;
  padding: 0px;
}

#audio-player-container {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:lightGrey;
  width: 80vw;
  height: 50vh;
  align-items: center;
}

#exitBtn {
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #069;
  text-decoration: underline;
  cursor: pointer;
  margin-top: 2rem;
  font-size: 1.3rem;
  cursor: pointer;
}

.play-icon {
  border: 0;
  background: transparent;
  box-sizing: border-box;
  width: 0;
  height: 4.7rem;
  border-color: transparent transparent transparent #202020;
  transition: 100ms all ease;
  cursor: pointer;
  border-style: solid;
  border-width: 2.3rem 0px 2.3rem 4.5rem;
  margin-left: .35rem;

}
.play-icon.paused {
  border-style: double;
  border-width: 0px 0px 0px 3.5rem;
}
.play-icon:hover {
  border-color: transparent transparent transparent #404040;
}

#current-time{
  font-size: 1.6rem;
}

.musicPlayerBtn {
  /* color: black; */
  /* padding: 0; */
  /* border: 0; */
  /* background: transparent; */
  cursor: pointer;
  /* outline: none; */
  /* width: 4rem; */
  /* height: 2rem; */
  /* float: left; */
  /* padding: 3rem; */
}

.time {
  padding: 2rem;
  /* display: inline-block;
  width: 37px;
  text-align: center;
  font-size: 20px;
  margin: 28.5px 0 18.5px 0;
  float: left; */
}
output {
  /* display: inline-block; */
  /* width: 32px; */
  /* text-align: center; */
  /* font-size: 20px; */
  /* margin: 10px 2.5% 0 5%; */
  /* float: left; */
  /* clear: left; */
}
#volume-slider {
  margin: 4rem;
  width: 48%;
}
#volume-slider::-webkit-slider-runnable-track {
  background: rgba(0, 125, 181, 0.6);
}
#volume-slider::-moz-range-track {
  background: rgba(0, 125, 181, 0.6);
}
#volume-slider::-ms-fill-upper {
  background: rgba(0, 125, 181, 0.6);
}
#volume-slider::before {
  width: var(--volume-before-width);
}
#mute-icon {
  margin: 0 2.5%;
}
input[type="range"] {
  position: relative;
  /* -webkit-appearance: none; */
  /* width: 48%; */
  margin: 0;
  padding: 0;
  height: 19px;
  /* margin: 30px 2.5% 20px 2.5%; */
  /* float: left; */
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: linear-gradient(to right, rgba(0, 125, 181, 0.6) var(--buffered-width), rgba(0, 125, 181, 0.2) var(--buffered-width));
}
input[type="range"]::before {
  position: absolute;
  content: "";
  top: 8px;
  left: 0;
  width: var(--seek-before-width);
  height: 3px;
  background-color: #007db5;
  cursor: pointer;
}
input[type="range"]::-webkit-slider-thumb {
  position: relative;
  -webkit-appearance: none;
  box-sizing: content-box;
  border: 1px solid #007db5;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  margin: -7px 0 0 0;
}
input[type="range"]:active::-webkit-slider-thumb {
  transform: scale(1.2);
  background: #007db5;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: linear-gradient(to right, rgba(0, 125, 181, 0.6) var(--buffered-width), rgba(0, 125, 181, 0.2) var(--buffered-width));
}
input[type="range"]::-moz-range-progress {
  background-color: #007db5;
}
input[type="range"]::-moz-focus-outer {
  border: 0;
}
input[type="range"]::-moz-range-thumb {
  box-sizing: content-box;
  border: 1px solid #007db5;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}
input[type="range"]:active::-moz-range-thumb {
  transform: scale(1.2);
  background: #007db5;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: transparent;
  border: solid transparent;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background-color: #007db5;
}
input[type="range"]::-ms-fill-upper {
  background: linear-gradient(to right, rgba(0, 125, 181, 0.6) var(--buffered-width), rgba(0, 125, 181, 0.2) var(--buffered-width));
}
input[type="range"]::-ms-thumb {
  box-sizing: content-box;
  border: 1px solid #007db5;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}
input[type="range"]:active::-ms-thumb {
  transform: scale(1.2);
  background: #007db5;
}

/***********************/
/***** NAV MOBILE ******/
/***********************/

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background-color: var(--lightGrey);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  padding: 0;
}

nav li {
  margin: 2em 1em;
  list-style-type: none;
}

nav a {
  color: var(--accentDark);
  font-size: 1.2rem;
  transition: opacity 150ms ease-in-out;
}

/*************************/
/****** NAV DESKTOP ******/
/*************************/
@media screen and (min-width: 900px) {
  nav {
    box-sizing: border-box;
    /* add Edge support */
    position: relative;
    text-align: left;
    transition: none;
    transform: scale(1, 1);
    background: none;
    top: initial;
    left: initial;
    /* end Edge support */
    /* grid-column: 3 / 3; */
    /* max-width: 70%; */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  nav ul {
    display: flex;
    font-size: 0.5rem;
  }

  nav li {
    /* color:blue; */
    margin: 0 1.5em;
    /* background: #232323; */
    /* filter: hue-rotate(9f0deg); */
  }

  nav a {
    opacity: 1;
    position: relative;
  }

  nav a:hover::before {
    transform: scale(1, 1);
  }

  nav a:hover {
    color: var(--accentTwo);
  }
}

/***********************/
/***** NAV TOGGLE ******/
/***********************/

.nav-toggle {
  /* display: inline-block; */
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
  padding: 0.5rem;
}

.nav-toggle:focus,
.nav-toggle-label {
  color: var(--accentLight);
}

.nav-toggle-label {
  /* position: absolute; */
  top: 0;
  left: 0;
  margin: 0 0.95em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background-color: var(--accentLight);
  height: 3px;
  width: 50px;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 13px;
}

.nav-toggle-label span::after {
  top: 13px;
}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 900px) {
  .nav-toggle-label {
    display: none;
  }
}

/***********************/
/******* FOOTER ********/
/***********************/

footer {
  padding: 1em 0;
  background-color: var(--lightGrey);
  text-align: center;
  display: inline-block;
  width: 100vw;
}

@media screen and (min-width: 900px) {
}

/***********************/
/**** TRANSCRIPT *******/
/***********************/

#textTranscript {
  margin: 2rem 0;
}

@media screen and (min-width: 900px) {
}
